#notify{
    display: none;
    text-align: center;
    padding: 20px;
    background-color: rgba(0,0,34,0.85);
    color: #ffff;
    border-radius: 15px;
    box-shadow: 0 1.9px 2.5px rgba(0, 0, 0, 0.057),
    0 5px 6.1px rgba(0, 0, 0, 0.076),
    0 10.1px 11.4px rgba(0, 0, 0, 0.086),
    0 19.2px 19.8px rgba(0, 0, 0, 0.092),
    0 38.4px 34.8px rgba(0, 0, 0, 0.1),
    0 101px 74px rgba(0, 0, 0, 0.13);
    height: 30px;
    width:20%;
    float: right;
    margin-bottom: 30px;
    position:fixed;
    top:10px;
    
}
